body{
     background-color: #0096C7;
      font-family: Arial; 
      margin:0;
      overflow-x:hidden;
    } 

.parent{
    display:flex;
    justify-content: space-between;
    gap:20px;
    align-items:flex-start;
    padding:20px;
}

.left-column{
    flex: 0 0 40%;
    display: flex;
    flex-direction:column;
    gap:20px;
}


.bracelet-grid{
    flex:1;
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap:20px;
    min-width:0;
    /*width:50%;*/
}
.page-container1,
.page-container8{
    width:100%;
    
}

.page-container1{
    text-align:center;
}

.card{
    display:flex;
    flex-direction:column;
    border: 3px solid white;
    border-radius: 10px;
    overflow:hidden;
    width:100%;
    max-width:100;
    box-sizing:border-box;
    /*background: ;*/
}

.card-header{
    margin-bottom: 4px;
}

.card-desc{
    margin-top:0;
}

.card-img{
    width:100% !important;
    max-width:100%;
    height:180px;
    object-fit:cover;
    display:block;
}

.profile-img{
    width:220px;
    height:220px;
    object-fit:contain;
    display:block;
    margin:20px auto;
}

    .card-content { 
        padding: 20px; 
    } 

    h1{
        background-color: antiquewhite;
        color: #0096C7;
        text-align: center;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        border-radius :20px;
        box-shadow:
            0 0 12px 6px white,
            -12px -6px 18px 8px white,
            -6px 10px 15px 8px white,
            12px 6px 15px 8px white;
    } 
    
    p{
        color: #ffffff;
        font-size: 18px;
    } 
    
    .button {
        background-color: #84D8B6;
        color: #000000;
        border:none;
        padding: 10px 20px;
        cursor: pointer;
     }